<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->

<!-- Specific Page Data -->

<!-- End of Data -->

<head>
    <meta charset="utf-8" />
    <title>
        <%= remoteaddr %>&nbsp;
            <%= browser_family %>&nbsp;
                <%= browser_version %>
    </title>
    <meta name="keywords" content="HTML5 Template, CSS3, All Purpose Admin Template, Vendroid" />
    <meta name="description" content="Login Pages - Responsive Admin HTML Template">
    <meta name="author" content="Venmond">

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="img/ico/favicon.png">


    <!-- CSS -->

    <!-- Bootstrap & FontAwesome & Entypo CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="css/font-awesome-ie7.min.css"><![endif]-->
    <link href="css/font-entypo.css" rel="stylesheet" type="text/css">

    <!-- Fonts CSS -->
    <link href="css/fonts.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="plugins/jquery-ui/jquery-ui.custom.min.css" rel="stylesheet" type="text/css">
    <link href="plugins/prettyPhoto-plugin/css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link href="plugins/isotope/css/isotope.css" rel="stylesheet" type="text/css">
    <link href="plugins/pnotify/css/jquery.pnotify.css" media="screen" rel="stylesheet" type="text/css">
    <link href="plugins/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">


    <link href="plugins/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <link href="plugins/tagsInput/jquery.tagsinput.css" rel="stylesheet" type="text/css">
    <link href="plugins/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" type="text/css">
    <link href="plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css">
    <link href="plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
    <link href="plugins/colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css">

    <!-- Specific CSS -->


    <!-- Theme CSS -->
    <link href="css/theme.min.css" rel="stylesheet" type="text/css">
    <!--[if IE]> <link href="css/ie.css" rel="stylesheet" > <![endif]-->
    <link href="css/chrome.css" rel="stylesheet" type="text/chrome">
    <!-- chrome only css -->



    <!-- Responsive CSS -->
    <link href="css/theme-responsive.min.css" rel="stylesheet" type="text/css">




    <!-- for specific page in style css -->

    <!-- for specific page responsive in style css -->


    <!-- Custom CSS -->
    <link href="custom/custom.css" rel="stylesheet" type="text/css">



    <!-- Head SCRIPTS -->
    <script type="text/javascript" src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/mobile-detect.min.js"></script>
    <script type="text/javascript" src="js/mobile-detect-modernizr.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script type="text/javascript" src="js/html5shiv.js"></script>
          <script type="text/javascript" src="js/respond.min.js"></script>     
        <![endif]-->
</head>

<body id="pages" style="background-image: url('img/ed2.jpg');background-repeat: repeat-y;" class="full-layout no-nav-left no-nav-right  nav-top-fixed      responsive remove-navbar login-layout   clearfix" data-active="pages " data-smooth-scrolling="1">
    <div class="vd_body">
        <div class="content">
            <div class="container">
                <div class="vd_content-wrapper">
                    <div class="vd_container">
                        <div class="vd_content clearfix">
                            <div class="vd_content-section clearfix" style="background-image: url('img/ed2.jpg');background-repeat: repeat-y;">
                                <!-- style="background-image: url('ed.jpg');background-repeat: no-repeat;" -->
                                <div class="vd_login-page" style="background:#f2f2f2">
                                    <div class="heading clearfix">
                                        <div class="logo">
                                            <h2 class="mgbt-xs-5"><img src="/img/logo2.png" alt="logo" width="40%" height="40%"></h2>
                                        </div>
                                        <h4 class="text-center font-semibold vd_grey">LOGIN TO YOUR ACCOUNT</h4>
                                        <!--<small class="subtitle "><font color="red">ระบบบริหารจัดการทรัพยากร ICT</font></small>-->
                                        <h4>
                                            <font color="red">ระบบบริหารจัดการทรัพยากร ICT</font>
                                        </h4>
                                    </div>
                                    <div class="panel widget">
                                        <div class="panel-body">
                                            <!-- <div class="login-icon entypo-icon"> <i class="icon-key"></i> </div>-->
                                            <form class="form-horizontal" id="login-form" action="/systemcenter/login" method="post" role="form">
                                                <div class="alert alert-danger vd_hidden">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                                                    <span class="vd_alert-icon"><i class="fa fa-exclamation-circle vd_red"></i></span><strong>Oh snap!</strong> Change a few things up and try submitting again. </div>
                                                <div class="alert alert-success vd_hidden">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                                                    <span class="vd_alert-icon"><i class="fa fa-check-circle vd_green"></i></span><strong>Well done!</strong>. </div>
                                                <div class="form-group  mgbt-xs-20">
                                                    <div class="col-md-12">
                                                        <div class="label-wrapper sr-only">
                                                            <label class="control-label" for="username">Email</label>
                                                        </div>
                                                        <div class="vd_input-wrapper" id="email-input-wrapper"> <span class="menu-icon"> <i class="fa fa-envelope"></i> </span>
                                                            <input type="text" placeholder="Email" id="email" name="username" class="required" required>
                                                        </div>
                                                        <div class="label-wrapper">
                                                            <label class="control-label sr-only" for="password">Password</label>
                                                        </div>
                                                        <div class="vd_input-wrapper" id="password-input-wrapper"> <span class="menu-icon"> <i class="fa fa-lock"></i> </span>
                                                            <input type="password" placeholder="Password" id="password" name="password" class="required" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="vd_login-error" class="alert alert-danger hidden"><i class="fa fa-exclamation-circle fa-fw"></i> Please fill the necessary field </div>
                                                <div class="form-group">
                                                    <div class="col-md-12 text-center mgbt-xs-5">
                                                        <button class="btn vd_bg-green vd_white width-100" type="submit" id="login-submit">Login</button>

                                                        <div class="browser_information">
                                                            <br>คุณกำลังเข้าใช้งานระบบบริหารจัดการทรัพยากร​ ICT ด้วย<br> IP Address
                                                            <%= remoteaddr %>&nbsp; <p id="siteaddr"></p>ผ่าน
                                                                <%= browser_family %>&nbsp;เวอร์ชั่น
                                                                    <%= browser_version %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header vd_bg-blue vd_white">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                                                            <h4 class="modal-title" id="myModalLabel">แจ้งเตือนการเข้าใช้งาน</h4>
                                                        </div>

                                                        <div class="modal-body">

                                                            <form class="form-horizontal">
                                                                <div class="form-group" align="center">
                                                                    Browser ที่ใช้งานในขณะนี้เก่าเกินไป กรุณาอัพเดทเพื่อเข้าใช้งานได้อย่างมีประสิทธิภาพ <br> กรุณาใช้ Internet Explorer เวอร์ชั่นมากกว่า
                                                                    <%= system_ie_version %><br> หรือ กรุณาใช้ Chrome เวอร์ชั่นมากกว่า
                                                                        <%= system_chrome_version %><br> หรือ กรุณาใช้ Firefox เวอร์ชั่นมากกว่า
                                                                            <%= system_firefox_version %><br>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .vd_body END  -->

                    <a id="back-top" href="#" data-action="backtop" class="vd_back-top visible"> <i class="fa  fa-angle-up"> </i> </a>
                </div>
            </div>
        </div>
        <button style="visibility:hidden;" id="warning_modal" data-toggle="modal" data-target="#myModal"></button>
        <footer class="footer-1 " id="footer ">
            <div class="vd_bottom ">
                <div class="container ">

                    <div class="row ">
                        <div class=" col-xs-12 ">
                            <div class="copyright">
                                <!--
                                    Copyright &copy;2018 Extentsoft Inc. All Rights Reserved-->
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
        </footer>
    </div>
    <!-- Javascript =============================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <!--[if lt IE 9]>
        <script type="text/javascript" src="js/excanvas.js"></script>      
    <![endif]-->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src='plugins/jquery-ui/jquery-ui.custom.min.js'></script>
    <script type="text/javascript" src="plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <script type="text/javascript" src="js/caroufredsel.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>

    <script type="text/javascript" src="plugins/breakpoints/breakpoints.js"></script>
    <script type="text/javascript" src="plugins/dataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="plugins/prettyPhoto-plugin/js/jquery.prettyPhoto.js"></script>

    <script type="text/javascript" src="plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="plugins/tagsInput/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="plugins/blockUI/jquery.blockUI.js"></script>
    <script type="text/javascript" src="plugins/pnotify/js/jquery.pnotify.min.js"></script>

    <script type="text/javascript" src="js/theme.js"></script>
    <script type="text/javascript" src="custom/custom.js"></script>

    <!-- Specific Page Scripts Put Here -->
    <script type="text/javascript">
        $(document).ready(function() {

            if (!<%= browser_support %>) $('#warning_modal').click();

            /*
                        $.ajax('https://freegeoip.net/json/', {
                            type: "get",
                            success: function(data) {
                                var browser = get_browser2();
                                var access_tpl = 'คุณกำลังเข้าใช้งานระบบบริหารจัดการทรัพยากร​ ICT ด้วย ';
                                access_tpl += browser.name + '/' + browser.version;
                                access_tpl += ', IP Address ' + data.ip;
                                access_tpl += ' พื้นที่ ' + country_name[data.region_name] + ', ' + region_name[data.country_name];
                                $('.browser_information').html(access_tpl);

                                $.ajax('http://byod.excise.go.th/api/getconfig', {
                                    type: "get",
                                    success: function(data) {


                                        if (browser.name == "Internet Explorer" && (browser.version < parseInt(data[15]))) {
                                            $('#warning_modal').click();
                                        } else if (browser.name == "Chrome" && (browser.version < parseInt(data[17]))) {
                                            $('#warning_modal').click();
                                        } else if (browser.name == "Firefox" && (browser.version < parseInt(data[19]))) {
                                            $('#warning_modal').click();
                                        }

                                    },
                                    error: function(fa) {
                                        //alert(JSON.stringify(fa));
                                        //alert('b');
                                    }
                                });
                            },
                            error: function(fa) {
                                //alert(JSON.stringify(fa));
                                //alert('b');
                            }
                        });*/
        });

        var country_name = {
            'Thailand': 'ไทย',
            'Cambodia': 'กัมพูชา'
        };
        var region_name = {
            'Bangkok': 'กรุงเทพมหานคร'
        }

        function get_browser2() {
            var ua = navigator.userAgent,
                tem, M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
            if (/trident/i.test(M[1])) {
                tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
                return {
                    name: 'IE',
                    version: (tem[1] || '')
                };
            }
            if (M[1] === 'Chrome') {
                tem = ua.match(/\bOPR|Edge\/(\d+)/)
                if (tem != null) {
                    return {
                        name: 'Opera',
                        version: tem[1]
                    };
                }
            }
            M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
            if ((tem = ua.match(/version\/(\d+)/i)) != null) {
                M.splice(1, 1, tem[1]);
            }
            return {
                name: M[0],
                version: M[1]
            };

        };
    </script>
    <!-- Specific Page Scripts END -->




    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->

    <script>
		var private_ip = '<%= remoteaddr %>';
		//alert(private_ip);
		var n = private_ip.lastIndexOf(".");
		var m = private_ip.substr(0,n+1);
		//alert(m);
        function getsite() {
                //alert('refresh');
                $.ajax('http://byod.excise.go.th/api/checkip', {
                    type: "get",
                    data: {
                        ipadr: m
                    },
                    success: function(json) {
                        //alert(json);   
						document.getElementById("siteaddr").innerHTML = '('+json+')';
                    }
                });
            }
		getsite();
    </script>

</body>

</html>