<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->

<!-- Specific Page Data -->

<!-- End of Data -->

<head>
    <meta charset="utf-8" />
    <title>BYOD Excise Department</title>
    <meta name="keywords" content="BYOD, Excise, Excise Department, Bring Your Own Device" />
    <meta name="description" content="BYOD ICT">
    <meta name="author" content="Extentsoft Co.,Ltd.">

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="img/ico/favicon.ico">


    <!-- CSS -->

    <!-- Bootstrap & FontAwesome & Entypo CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="css/font-awesome-ie7.min.css"><![endif]-->
    <link href="css/font-entypo.css" rel="stylesheet" type="text/css">

    <!-- Fonts CSS -->
    <link href="css/fonts.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="plugins/jquery-ui/jquery-ui.custom.min.css" rel="stylesheet" type="text/css">
    <link href="plugins/prettyPhoto-plugin/css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link href="plugins/isotope/css/isotope.css" rel="stylesheet" type="text/css">
    <link href="plugins/pnotify/css/jquery.pnotify.css" media="screen" rel="stylesheet" type="text/css">
    <link href="plugins/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">


    <link href="plugins/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <link href="plugins/tagsInput/jquery.tagsinput.css" rel="stylesheet" type="text/css">
    <link href="plugins/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" type="text/css">
    <link href="plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css">
    <link href="plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
    <link href="plugins/colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css">

    <!-- Specific CSS -->
    <link href="plugins/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css">
    <link href="plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" type="text/css">
    <link href="plugins/introjs/css/introjs.min.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="css/theme.min.css" rel="stylesheet" type="text/css">
    <!--[if IE]> <link href="css/ie.css" rel="stylesheet" > <![endif]-->
    <link href="css/chrome.css" rel="stylesheet" type="text/chrome">
    <!-- chrome only css -->



    <!-- Responsive CSS -->
    <link href="css/theme-responsive.min.css" rel="stylesheet" type="text/css">




    <!-- for specific page in style css -->

    <!-- for specific page responsive in style css -->


    <!-- Custom CSS -->
    <link href="custom/custom.css" rel="stylesheet" type="text/css">



    <!-- Head SCRIPTS -->
    <script type="text/javascript" src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/mobile-detect.min.js"></script>
    <script type="text/javascript" src="js/mobile-detect-modernizr.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/html5shiv.js"></script>
      <script type="text/javascript" src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body id="dashboard" class="full-layout  nav-right-hide nav-right-start-hide  nav-top-fixed      responsive    clearfix" data-active="dashboard " data-smooth-scrolling="1">
    <div class="vd_body">
        <%- include('admin/partial/header'); %>

            <!-- Content start -->

            <div class="content">
                <div class="container">
                    <%- include('admin/partial/menu'); %>


                </div>

                <!-- Middle Content Start -->

                <div class="vd_content-wrapper">
                    <div class="vd_container">
                        <div class="vd_content clearfix">

                            <!-- vd_head-section -->
                            <div class="vd_title-section clearfix">
                                <div class="vd_panel-header">
                                    <h1>ข้อมูลส่วนบุคคล</h1>
                                    <!-- menu -->
                                </div>
                            </div>
                            <!-- vd_title-section -->

                            <div class="vd_content-section clearfix">
                                <!-- start row-->

                                <!-- end row -->

                                <div class="row" id="form-basic">
                                    <div class="col-md-12">
                                        <div class="panel widget">
                                            <div class="panel-heading vd_bg-grey">
                                                <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-bar-chart-o"></i> </span> ประวัติส่วนบุคคล </h3>
                                            </div>
                                            <div class="panel-body">
                                                <form class="form-horizontal" action="#" role="form">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">เลขที่บัตรประจำตัวประชาชน</label>
                                                        <div class="col-sm-7 controls">
                                                            <input id="u_ssn" type="text" disabled="" placeholder="<%= ssn %>" readonly class="input-border-btm">
                                                            <span class="help-inline">เลขที่บัตรประจำตัวประชาชนไม่สามารถแก้ไขได้</span> </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">ชื่อจริง (ภาษาอังกฤษ)</label>
                                                        <div class="col-sm-7 controls">
                                                            <input id="u_fn" type="text" placeholder="ชื่อจริง" value="<%= firstname %>" class="input-border-btm">
                                                            <span class="help-inline">เช่น Natthawat</span> </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">นามสกุลจริง (ภาษาอังกฤษ)</label>
                                                        <div class="col-sm-7 controls">
                                                            <input id="u_ln" type="text" placeholder="นามสกุลจริง" value="<%= lastname %>" class="input-border-btm">
                                                            <span class="help-inline">เช่น Arunwattana</span> </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">เลขตำแหน่ง/สังกัด</label>
                                                        <div class="col-sm-7 controls">
                                                            <input id="u_pos" type="text" placeholder="เลขตำแหน่งหรือสังกัด" value="<%= position %>" class="input-border-btm">
                                                            <span class="help-inline">เช่น 501</span> </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">ระดับพนักงานหรือข้าราชการ</label>
                                                        <div class="col-sm-7 controls">
                                                            <input id="u_lv" type="text" placeholder="ระดับ" value="<%= level %>" class="input-border-btm">
                                                            <span class="help-inline">เช่น 8</span> </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">พื้นที่</label>
                                                        <div class="col-sm-7 controls">
                                                            <input id="u_area" type="text" placeholder="สังกัดพื้นที่" value="<%= area %>" class="input-border-btm">
                                                            <span class="help-inline">เช่น 52</span> </div>
                                                    </div>
                                                    <!--
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">ตำแหน่ง/สังกัด</label>
                                                        <div class="col-sm-7 controls">
                                                            <select>
                                                                <option>500</option>
                                                                <option>501</option>
                                                                <option>400</option>
                                                                <option>120</option>
                                                                <option>101</option>
                                                             </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">ระดับข้าราชการ</label>
                                                        <div class="col-sm-7 controls">
                                                            <select class="width-40">
                                                      <option>ระดับ 1</option>
                                                      <option>ระดับ 2</option>
                                                      <option>ระดับ 3</option>
                                                      <option>ระดับ 4</option>
                                                      <option>ระดับ 5</option>
                                                      <option>ระดับ 6</option>
                                                      <option>ระดับ 7</option>
                                                      <option>ระดับ 8</option>
                                                      <option>ระดับ 9</option>
                                                      <option>ระดับ 10</option>
                                                      <option>ระดับ 11</option>
                                                      <option>ระดับ 12</option>
                                                      <option>ระดับ 13</option>
                                                      
                                                    </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">พื้นที่</label>
                                                        <div class="col-sm-7 controls">
                                                            <select>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                 </select>
                                                        </div>
                                                    </div>
                                                -->
                                                    <div class="form-group form-actions">
                                                        <div class="col-sm-4"> </div>
                                                        <div class="col-sm-7">
                                                            <!--<button class="btn vd_btn vd_bg-green vd_white" type="submit" ><i class="icon-ok"></i> Save</button>
                                                            <button class="btn vd_btn" type="button">Cancel</button>-->
                                                            <button type="button" class="btn vd_btn vd_bg-green" id="top-right-success" onclick="editprofile()"><!--<i class="fa fa-check-circle append-icon"></i>-->Save</button>

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- Panel Widget -->
                                    </div>
                                    <!-- col-md-12 -->
                                </div>
                                <!-- row -->


                            </div>
                            <!-- .vd_content-section -->

                        </div>
                        <!-- .vd_content -->
                    </div>
                    <!-- .vd_container -->
                </div>
                <!-- .vd_content-wrapper -->

                <!-- Middle Content End -->

            </div>
            <!-- .container -->
    </div>
    <!-- .content -->

    <%- include('admin/partial/footer'); %>



        </div>

        <!-- .vd_body END  -->
        <a id="back-top " href="# " data-action="backtop " class="vd_back-top visible "> <i class="fa fa-angle-up "> </i> </a>

        <!--
<a class="back-top " href="# " id="back-top "> <i class="icon-chevron-up icon-white "> </i> </a> -->

        <!-- Javascript =============================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <!--[if lt IE 9]>
  <script type="text/javascript" src="js/excanvas.js"></script>
<![endif]-->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src='plugins/jquery-ui/jquery-ui.custom.min.js'></script>
        <script type="text/javascript" src="plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

        <script type="text/javascript" src="js/caroufredsel.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>

        <script type="text/javascript" src="plugins/breakpoints/breakpoints.js"></script>
        <script type="text/javascript" src="plugins/dataTables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="plugins/prettyPhoto-plugin/js/jquery.prettyPhoto.js"></script>

        <script type="text/javascript" src="plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script type="text/javascript" src="plugins/tagsInput/jquery.tagsinput.min.js"></script>
        <script type="text/javascript" src="plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="plugins/blockUI/jquery.blockUI.js"></script>
        <script type="text/javascript" src="plugins/pnotify/js/jquery.pnotify.min.js"></script>

        <script type="text/javascript" src="js/theme.js"></script>
        <script type="text/javascript" src="custom/custom.js"></script>

        <!-- Specific Page Scripts Put Here -->
        <!-- Flot Chart  -->
        <script type="text/javascript" src="plugins/flot/jquery.flot.min.js"></script>
        <script type="text/javascript" src="plugins/flot/jquery.flot.resize.min.js"></script>
        <script type="text/javascript" src="plugins/flot/jquery.flot.pie.min.js"></script>
        <script type="text/javascript" src="plugins/flot/jquery.flot.categories.min.js"></script>
        <script type="text/javascript" src="plugins/flot/jquery.flot.time.min.js"></script>
        <script type="text/javascript" src="plugins/flot/jquery.flot.animator.min.js"></script>

        <!-- Vector Map -->
        <script type="text/javascript" src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script type="text/javascript" src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

        <!-- Calendar -->
        <script type="text/javascript" src='plugins/moment/moment.min.js'></script>
        <script type="text/javascript" src='plugins/jquery-ui/jquery-ui.custom.min.js'></script>
        <script type="text/javascript" src='plugins/fullcalendar/fullcalendar.min.js'></script>

        <!-- Intro JS (Tour) -->
        <script type="text/javascript" src='plugins/introjs/js/intro.min.js'></script>

        <!-- Sky Icons -->
        <script type="text/javascript" src='plugins/skycons/skycons.js'></script>
        


        <!-- Include Date Range Picker -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />



        <script>
			account_now = $('#email').text().trim();
            $(document).ready(function() {
                //alert($('#u_ssn').attr("placeholder"));

                $('#top-right-success').click(function() {

                    $.ajax('http://byod.excise.go.th/api/eoffice/profile/' + $('#u_ssn').attr("placeholder") + '/ZXlKMGVYQWlPaUpLVjFRaUxDSmhiR2NpT2lKSVV6STFOaUo5LmV5SnBjM01pT2lKRmVIUmxiblJ6YjJaMElFTnZiWEJoYm5rZ1RHbHRhWFJsWkNJc0ltbGhkQ0k2TVRVeE9UWTVOVFk1T0N3aVpYaHdJam94TlRVeE1qTXhOams0TENKaGRXUWlPaUppZVc5a0xtVjRZMmx6WlM1bmJ5NTBhQ0lzSW5OMVlpSTZJbUo1YjJSQVpYaGphWE5sTG1kdkxuUm9JaXdpVUhKdmFtVmpkQ0k2SWtKWlQwUWlMQ0pGYldGcGJDSTZJbUp2ZVdSQVpYaGphWE5sTG1kdkxuUm9JaXdpVUdGeWRHNWxjaUk2SWxOMWJXMXBkQ0JEYjIxd2RYUmxjaUJEYjIxd1lXNTVJRXhwYldsMFpXUWlMQ0pTWlhGMVpYTjBaWElnSWpvaVUydDVJRWxEVkNCUWRXSnNhV01nUTI5dGNHRnVlU0JNYVcxcGRHVmtJbjAudWJ4UGdNNDkxWU9oTWNrYzA5R3lEODBsdG9uU2xMQ29SNENnZGNBdExzZw==', {
                        type: "put",
                        data: {
                            fn: $('#u_fn').val(),
                            ln: $('#u_ln').val(),
                            position: $('#u_pos').val(),
                            level: $('#u_lv').val(),
                            area: $('#u_area').val(),
                        },
                        statusCode: {
                            401: function() {
                                notification("topright", "success", "fa fa-check-circle vd_green", "ไม่สามารถปรับเปลี่ยนข้อมูลส่วนบุคคลได้", 'Status 401: ไม่มีสิทธิเข้าใช้งานระบบ e-Office ');
                            },
                            403: function() {
                                notification("topright", "success", "fa fa-check-circle vd_green", "ไม่สามารถปรับเปลี่ยนข้อมูลส่วนบุคคลได้", 'Status 403: สิทธิเข้าใช้งานระบบ e-Office ไม่รองรับ');
                            }
                        },
                        success: function(data, textStatus, jqXHR) {
                            console.log(JSON.stringify(data));
                            notification("topright", "success", "fa fa-check-circle vd_green", "เปลี่ยนข้อมูลส่วนบุคคลสำเร็จ", "ข้อมูลถูกนำส่งให้ระบบ e-Office สำเร็จ");
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            /*console.log(jqXHR.status);
                            console.log(jqXHR.statusText);
                            console.log(textStatus);
                            console.log(errorThrown);
                            */
                            //notification("topright", "success", "fa fa-check-circle vd_green", "ไม่สามารถปรับเปลี่ยนข้อมูลส่วนบุคคลได้", 'พบเหตุขัดข้องกรุณาลองใหม่อีกครั้ง');
                        }
                    });


                });

            });
            $(window).load(function() {
                var priv = $("#priv").html().trim().split(",");
                if (priv[1] < 1) {
                    $('#top-menu-3').hide();
                } else {
                    $('#top-menu-3').show();
                }
            });
        </script>
        <!-- Specific Page Scripts END -->




        <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->

        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>

        <script>
            function editprofile(){
				$.ajax('http://byod.excise.go.th/api/addprofilelog', {
					type: "get",
					data: {
						accname: account_now
					},
					success: function(json) {
						$.ajax('http://byod.excise.go.th/api/checkprofilelimit', {
							type: "get",
							data: {
								accname: account_now
							},
							success: function(json) {
								//alert(json);
								if (json == 1) {
									addviolation('overeditprofile');
									$.ajax('http://byod.excise.go.th/api/message/email/5/' + account_now, {
										type: "get",
										success: function(json) {
											//alert(JSON.stringify(json));
										}
									});
									//alert('มีการ Login บ่อยเกินว่าปกติในช่วงเวลาสั้นๆ ระบบจะทำการส่ง Email ไปยังผู้ดูแลระบบ');

									
								}
							}
						});
					}
				});
			}
			
			function addviolation(detail) {
				//alert('refresh');
				$.ajax('http://byod.excise.go.th/api/addviolation', {
					type: "get",
					data: {
						violation: detail,
						accname: account_now
					},
					success: function(json) {
						//alert(json);
					}
				});
			}
        </script>

</body>

</html>